@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'SF UI Display', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #F9F9FF;
}

::-webkit-scrollbar-thumb {
  background: #BE1687;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #661E78;
}

/* Inputs  */
/* Hide side btns from number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


/* Swiper */
.swiper {
  margin-left: auto;
  margin-right: auto;
}

.mySwiper {
  width: 100%;
  height: calc(100vh - 65px);
}
.cultureSwiper {
  width: 100%;
  height: 500px;
}
@media only screen and (max-width: 767px) {
  .cultureSwiper {
    height: 300px;
  }
}
.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
}

.sideSwiper {
  width: 100%;
  height: 100%;
  padding: 0px 0px 40px 0px !important;
}

.sideSwiper .swiper-pagination-bullet {
  width: 20px !important;
  height: 8px !important;
  border-radius: 10px;
  background-color: #661E78 !important;
  opacity: 0.4 !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.sideSwiper.bgDark .swiper-pagination-bullet {
  width: 20px !important;
  height: 8px !important;
  border-radius: 10px;
  background-color: #fff !important;
  opacity: 0.4 !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
}


.sideSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.sideSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: '';
  position: absolute !important;
  border: none;
}



.swiperReview {
  padding: 0px 0px 50px 0px !important;
}

.swiperReview .swiper-wrapper {
  @apply rounded-md;
}

.swiperReview .swiper-button-prev,
.swiperReview .swiper-button-next {
  color: #fefefe;
}

/* Swiper pagination global */
.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background-color: #fefefe !important;
  opacity: 0.4 !important;
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
  position: relative !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: '';
  position: absolute !important;
  top: -4px;
  left: -4px;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  border: 2px solid white;
}

/* Loader */

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #BE1687;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #661E78;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .4em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .4em .4em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .4em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.4em .4em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.4em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.4em -.4em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.4em 0 0 currentcolor;
  }

  87% {
    box-shadow: .4em -.4em 0 0 currentcolor;
  }
} 

#jobData ul {
  list-style-type: disc;
  padding-left: 1.5rem; 
}

#jobData ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}
#jobData h1 {
  font-size: 2rem;
  margin-bottom: 1rem; 
}

#jobData h2 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem; 
}

#jobData h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem; 
}

#jobData h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem; 
}

#jobData h5 {
  font-size: 1rem;
  margin-bottom: 0.25rem; 
}

#jobData h6 {
  font-size: 0.75rem;
  margin-bottom: 0.25rem; 
}